.selected {
  color: white;
}

.blob {
  background-image: url(../images/blob.svg);
  animation-duration: 2000ms;
  animation-timing-function: steps(60);
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: auto 100px;
  animation-name: play60;
  animation-iteration-count: infinite;
  z-index: -1;
  position: absolute;
}

@keyframes play60 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -6000px 0px;
    /* 100px*60 */
  }
}

#container-toggle-menu {
  position: absolute;
  background-image: linear-gradient(180deg, #a1c4fd 0%, #c2e9fb 100%);
  height: 100%;
  width: 0;
  z-index: 2;
  overflow: hidden;
  transition: width .8s cubic-bezier(1, .01, .54, 1);
}

#container-toggle-menu.clicked {
  width: 30em;
}

.container-menu-ultimate {
  position: fixed;
  display: flex;
  width: 100vw;
}

#container-toggle {
  position: fixed;
  z-index: 3;
}

#toggle-menu {
  float: left;
  margin: 5vh;
  cursor: pointer;
  width: 5vh;
  transition: transform 300ms ease-in-out;
}

#toggle-menu:hover {
  transform: scale(1.1);
}

.container-menu-master {
  display: flex;
  height: 100%;
  width: fit-content;
  align-items: center;
  justify-content: center;
  margin: 0;
  z-index: 2;
}

.container-menu, .container-submenu {
  text-align: center;
  display: none;
  width: 30em;
}

#menu, .submenu {
  font-family: 'Ubuntu';
  font-size: 2em;
  vertical-align: middle;
}

#menu li {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}

.submenu li {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}

.left-arrow {
  width: 1em;
  height: 1em;
}

.documentPage {
  display: none;
  position: absolute;
  top: 16vh;
  width: 100vw;
  height: 84vh;
  background-image: linear-gradient(90deg, white 0%, #ebedee 100%);
  box-shadow: 0px 0px 70px -20px black;
}

.begin {
  text-align: left;
  line-height: 110%;
  margin: 20pt 0 10pt 0;
  DIRECTION: ltr;
  unicode-bidi: embed;
}

.title {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14pt;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.content {
  overflow-y: scroll;
  overflow-x: hidden;
}

.year {
  margin-left: 24px;
  padding-top: 10px;
}

.infoscience_record.infoscience_record_bulleted {
  border-bottom: 1px dotted #000;
  margin-top: 8px;
  padding-bottom: 7px;
}

span.infoscience_bullet {
  float: left;
  text-align: right;
  width: 3em;
}

.infoscience_data {
  margin-left: 4em;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
}

#researchTitle {
  display: grid;
  grid-template-columns: 40vw 20vw 40vw;
  justify-items: center;
  text-align: center;
}

#researchTitle > span {
  padding: 0 20pt 0 20pt;
}

.researchContent {
  margin: 0 5vh 0 5vh;
}

@media only screen and (max-width: 480px) {
  .container-menu {
    width: 100vw;
  }
  #menu, .submenu {
    font-size: 1.5em;
  }
  .container-submenu {
    width: 100vw;
  }
  #container-toggle-menu {
    transition: width .8s cubic-bezier(1, .01, .54, 1);
  }
  #container-toggle-menu.clicked {
    width: 100%;
  }
  #container-toggle {
    background-color: #6f94ca;
    width: 100%;
    height: 16vh;
    display: flex;
    align-items: center;
  }
  #toggle-menu {
    margin: 4.5vh;
    width: 6vh;
  }
  .blob {
    width: 80px;
    height: 80px;
    background-size: auto 80px;
  }
  @keyframes play60 {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: -4800px 0px;
      /* 100px*60 */
    }
  }

  .documentPage {
    position: relative;
  }
}
