/*
#1 = 003B66 -> #003b66 -> #0067b2
#2 = 0067B2 -> #0067b2 -> #0085e5
*/


a {
	color: #0067b2;
}
a:hover {
	color: #0085e5;
}

/* menu */
.nav>li>a:hover {
	color: #0085e5;
}

.navbar .navbar-nav > .active > a {
	color: #0085e5;
}

/* flexslider */
.flex-control-paging li a {
	background: #0067b2;
}

.flex-direction-nav a:hover{
	background-color:#0067b2;
}

.testimonial span.author a {
	color: #0085e5;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: #0067b2;
	box-shadow: 0 0 0 4px #0067b2;
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: #0067b2;
	box-shadow: 0 0 0 8px  #0085e5;
}

/* team */
.member-instance{
	vertical-align: top;
	display: inline-block;
	float: none;
}
.member-face {
	width: 110px;
}
.member-interests {
	text-align: left;
}
#alumni th, #alumni td {
	text-align: center;
}

/* portfolio */
.portfolio-item .portfolio-desc {
	background: #0067b2;
}

/* btn */
.btn-theme {
  background: #0085e5;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #0067b2;
}
.btn-cta,.btn-cta.btn-lg {
  background: #0067b2;
  border-color: #0085e5;
}

.btn-cta:focus,.btn-cta:active{
   border-color: #0067b2;
}

/* contact */
.validation {
	color:#0067b2;
}

/* footer */
.social-circle li a {
	background:#0067b2;
}

a.scrollup{
	background:#0067b2;
}