.slick-dotted.slick-slider {
  margin-bottom: 0;
}

#container-carousel-home {
  position: absolute;
  width: 100vw;
  top: 16vh;
  text-align: center;
  vertical-align: middle;
  z-index: -2;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
}

#container-carousel-home .slick-prev {
  left: -5vw;
  z-index: 1;
}

#container-carousel-home .slick-next {
  right: -5vw;
  z-index: 1;
}

#container-carousel-home .slick-prev:before {
  color: black;
}

#container-carousel-home .slick-next:before {
  color: black;
}

.slick-dots {
  position: relative;
}

.item { 
  display: flex;
  justify-content: center;
  margin: 0 1.5vw;
  padding: 0 0 1em 0;
  background: transparent;
  cursor: pointer;
}

.labPoster {
  transition: filter .5s;
  width: 100%; /* 720x480 resolution */
  /* box-shadow: 10px 5px 1px #8888888c; */
}

.labPoster:hover{
  filter: drop-shadow(0px 5px 5px gray);
}

.itemDescription {
  display: none;
  background-color: transparent;
  overflow: hidden;
}

.itemDescription > h1 {
  margin: 0;
  padding: 10px;
  font-size: 15px;
  text-align: end;
}

.itemDescription > p {
  margin: 0;
  text-align: initial;
  padding: 0 1em 0 1em;
}

#carousel-control {
  display: grid;
  grid-template-columns: 23px 23px;
  justify-content: space-between;
  margin: 0 5vh 0 5vh;
}

.controlArrow:hover {
  cursor: pointer; 
}

@media only screen and (max-width: 480px) {
  #container-carousel-home {
    width: 100vw;
    translate: none;
  }
  #container-carousel-home.clicked {
    transform: none;
  }
  #container-carousel-home .slick-prev {
    left: -10%;
  }
  #container-carousel-home .slick-next {
    right: -10%;
  }
  .slick-dots {
    margin: 0;
  }
  .item {
    margin: 0;
  }
  .itemDescription {
    display: none;
    background-color: #6f94ca;
    overflow: hidden;
  }
  .itemDescription > h1 {
    text-align: center;
  }
}
