.slick-dotted.slick-slider {
  margin-bottom: 0;
}

#container-carousel-home {
  position: relative;
  width: 100vw;
  margin: auto;
  margin-top: 5vh;
  top: 0;
  text-align: center;
  vertical-align: middle;
  z-index: -2;
  /* transition: transform .5s cubic-bezier(1, .01, .54, 1); */
}

/* #container-carousel-home.clicked {
  transform: translateX(-12.5em);
} */

#container-carousel-home .slick-prev {
  left: -5vw;
  z-index: 1;
}

#container-carousel-home .slick-next {
  right: -5vw;
  z-index: 1;
}

#container-carousel-home .slick-prev:before {
  color: black;
}

#container-carousel-home .slick-next:before {
  color: black;
}

.slick-dots {
  position: relative;
  bottom: auto;
  margin-top: 1em;
}

.item {
  display: flex;
  justify-content: center;
  margin: 0 5vw;
  padding: 0 0 1em 0;
  background: transparent;
}

.labPoster {
  width: calc(60vh*720/480); /* 720x480 resolution */
  height: 60vh;
  box-shadow: 5px 5px 10px #88888847
}

/* #item1 {
    background-color: red;
}

#item2 {
    background-color: orange;
}

#item3 {
    background-color: yellow;
}

#item4 {
    background-color: green;
}

#item5 {
    background-color: blue;
} */

@media only screen and (max-width: 480px) {
  #container-carousel-home {
    width: 80vw;
    translate: none;
  }
  #container-carousel-home.clicked {
    transform: none;
  }  
  #container-carousel-home .slick-prev {
    left: -10%;
  }
  #container-carousel-home .slick-next {
    right: -10%;
  }
  .slick-dots {
    margin: 0;
  }
  .item {
    margin: 0;
  }
  .labPoster {
    height: 60vw;
  }
}
