.slick-dotted.slick-slider {
  margin-bottom: 0;
}

#container-carousel-home {
  position: absolute;
  width: 100vw;
  top: 16vh;
  text-align: center;
  vertical-align: middle;
  z-index: -2;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
}

#container-carousel-home .slick-prev {
  left: -5vw;
  z-index: 1;
}

#container-carousel-home .slick-next {
  right: -5vw;
  z-index: 1;
}

#container-carousel-home .slick-prev:before {
  color: black;
}

#container-carousel-home .slick-next:before {
  color: black;
}

.slick-dots {
  position: relative;
  bottom: auto;
  margin-top: 1em;
}

.item { 
  display: flex;
  justify-content: center;
  margin: 0 1.5vw;
  padding: 0 0 1em 0;
  background: transparent;
  cursor: pointer;
  transition: filter .5s;
}

.item:hover{
  filter: drop-shadow(0px 5px 5px gray);
}

.labPoster {
  width: 100%; /* 720x480 resolution */
  /* box-shadow: 10px 5px 1px #8888888c; */
}

/* #item1 {
    background-color: red;
}

#item2 {
    background-color: orange;
}

#item3 {
    background-color: yellow;
}

#item4 {
    background-color: green;
}

#item5 {
    background-color: blue;
} */

@media only screen and (max-width: 480px) {
  #container-carousel-home {
    width: 80vw;
    margin-top: 5vh;
    translate: none;
  }
  #container-carousel-home.clicked {
    transform: none;
  }
  #container-carousel-home .slick-prev {
    left: -10%;
  }
  #container-carousel-home .slick-next {
    right: -10%;
  }
  .slick-dots {
    margin: 0;
  }
  .item {
    margin: 0;
  }
  .labPoster {
    height: 60vw;
  }
}
