@media only screen and (min-width: 480px) {
    .profilePage {
        display: none;
        grid-template-columns: 250px auto 250px;
        grid-template-rows: auto 50px;
        grid-row-gap: 10px;
        position: absolute;
        top: 16vh;
        width: 80vw;
        background: powderblue;
        margin: 0px 5vw 0px 5vw;
        padding: 5vw;
    }

    .profilePic {
        grid-column-start: 1;
        grid-column-end: 2;
        width: 250px;
    }

    .profileContent {
        grid-column-start: 2;
        grid-column-end: 3;
        padding: 0px 50px 0px 50px;
    }

    .profileResearch {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .thumbnails {
        grid-column: span 3
    }

    .first_thumbnail {
        height: 50px;
    }

    .thumbnail {
        height: 50px;
        margin-left: 10px;
    }

    .first_thumbnail:hover, .thumbnail:hover {
        cursor: pointer;
    }
}
@media only screen and (max-width: 480px) {
    .profilePage {
        display: none;
        grid-template-columns: 80vw;
        grid-template-rows: auto auto auto;
        position: absolute;
        top: 16vh;
        width: 80vw;
        background: powderblue;
        padding: 10vw;
    }

    
    .profilePic {
        grid-row-start: 1;
        grid-row-end: 2;
        width: 250px;
        justify-self: center;
    }

    .thumbnails {
        grid-row: 2/3;
        grid-column: span 3;
        justify-self: center;
        margin-top: 10px;
    }

    .first_thumbnail {
        height: 50px;
    }

    .thumbnail {
        height: 50px;
        margin-left: 10px;
    }

    .profileContent {
        grid-row: 3/4;
    }

    .profileResearch {
        grid-row: 4/5;
    }
}