html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  display: none;
  list-style-type: none;
  padding: 0px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0 1em 0em;
}

#banner {
  position: absolute;
  width: 100%;
  height: 15vh;
  margin-top: 1vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bannerLogo {
  width: 10vh;
  height: 10vh;
}

#toggle-logo {
  display: none;
  width: 8vh;
  height: 8vh;
}

#background {
  width: 20vw;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(90deg, white 0%, #ebedee 100%);
  margin: 0 40vw 0 40vw;
  z-index: -3;
  box-shadow: 0px 0px 70px -20px black;
}

#main {
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  /* transition: width .5s cubic-bezier(1, .01, .54, 1), transform .5s cubic-bezier(1, .01, .54, 1); */
  background-image: linear-gradient(90deg, white 0%, #ebedee 100%);
  overflow: hidden;
}

/* #main.clicked {
  width: calc(100% - 25em);
  transform: translate(25em);
} */

.loremIpsum {
  width: 80%;
  margin: 5% 10% 0 10%;
}

:focus {
  outline: none;
}

@media only screen and (max-width: 480px) {
  html, body {
    overflow: scroll;
  }

  .fa-2x {
    font-size: 1.5em;
  }
  li {
    margin: 1em 0 1em 0em;
  }
  /* #main {
    transition: transform .8s cubic-bezier(1, .01, .54, 1);
  }
  #main.clicked {
    width: 100%;
    transform: translate(100%);
  } */
  #banner {
    height: 15vh;
  }
  #bannerLogo {
    display: none;
  }
  #toggle-logo {
    display: initial;
    margin-left: calc(50vw - 19vh);
  }
  .loremIpsum {
    width: 80%;
    margin: 0;
    padding: 10%;
  }
}
