html, body {
  margin: 0;
  height: 100%;
  overflow: auto;
}

body {
  opacity: 0;
  transition: opacity 2s
}

body.ready {
  opacity: 1;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  display: none;
  list-style-type: none;
  padding: 0px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .7em 0 .7em 0em;
}

#banner {
  width: 100%;
  height: 9em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bannerLogo {
  width: 7em;
  height: 7em;
}

#toggle-logo {
  display: none;
  width: 3em;
  height: 3em;
}

#main {
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  /* transition: width .5s cubic-bezier(1, .01, .54, 1), transform .5s cubic-bezier(1, .01, .54, 1); */
  background-image: linear-gradient(90deg, white 0%, #ebedee 100%);
  overflow: hidden;
}

/* #main.clicked {
  width: calc(100% - 25em);
  transform: translate(25em);
} */

.loremIpsum {
  width: 80%;
  margin: 5% 10% 0 10%;
}

:focus {
  outline: none;
}

@media only screen and (max-width: 480px) {
  .fa-2x {
    font-size: 1.5em;
  }
  li {
    margin: 1em 0 1em 0em;
  }
  #main {
    transition: transform .8s cubic-bezier(1, .01, .54, 1);
  }
  #main.clicked {
    width: 100%;
    transform: translate(100%);
  }
  #banner {
    height: 7em;
  }
  #bannerLogo {
    display: none;
  }
  #toggle-logo {
    display: initial;
    width: 3em;
    height: 3em;
    margin-left: calc(50% - 7em);
  }
  .loremIpsum {
    width: 80%;
    margin: 0;
    padding: 10%;
  }
}
